<section class="jumbotron">
  <h1>About Amazingapp</h1>
  <p>This page is meant to be a university project.</p>
</section>

<section class="container" id="about">
  <div class="header">
    <h2>Who are we?</h2>
  </div>
  <div class="text">
    <hr>
    <p>We are here for you since the very beginning.Let us tell you our story, the one that led us to propose a solution that suits you.</p>
    <p>We are located in the center of Berlin and We are live since 1990 and providing our customers with best products.</p>
    <hr>
  </div>
</section>
