<section class="jumbotron">
  <h1>Contact Details</h2>
  <p>Feel free to contact me if you have any enquiries</p>
</section>

<section class="container">
  <div class="header">
    <h2>Contact Info</h2>
  </div>
  <div class="main-column">
    <div class="email_me">
      <p><span class="glyphicon glyphicon-envelope"></span> Email me at <a href="mailto:corentin.lebris@kedgebs.com">corentin.lebris@kedgebs.com</a></p>
    </div><!--end email_me-->
    <div class="phone_me">
      <p><span class="glyphicon glyphicon-phone"></span>  Or call me at this number: +33 6 67 60 05 26</p>
    </div><!--end phone_me-->
  </div>
</section>
